<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    >
<body>

<h1>Some test case</h1>
<ul>
  <li><a href="/test/00">Test case 00: Setup some testing entities</a></li>
  <li><a href="/test/01">Test case 01: Simple query</a></li>
  <li><a href="/test/02">Test case 02: Query with Filter</a></li>
  <li><a href="/test/03">Test case 03: Delete an entity. After deleting entity, please check test case 01 and 02 again</a></li>
  <li><a href="/test/04">Test case 04: Saving an entity. After saving entity, please check test case 01 and 02 again</a></li>
  <li><a href="/test/05">Test case 05: Query first entity</a></li>
</ul>

<p>
Refresh this page again and check <a href="/appstats" target="_blank">appstats</a> for performance and cost data
</p>

</body>
</html>
